BOT__TOKEN=1234567890:replace_me
BOT__ALLOWED_USERS=[123456789]
POSTGRES_HOST_PORT=5433
DATABASE__HOST=postgres
DATABASE__PORT=5432
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres
DATABASE__DATABASE=tg_bot
